{% extends "layout.html" %}

{% block body %}
    <h1>Third Page</h1>
    As the Flask docs promise, your app's config can be modified as we did above and can be modified/changed at any time. Let's set aside the horrendous readability this creates down the line. We'll even turn a blind eye to the unimaginable shit show we create by mutating configs while our app is running. To make matters worse, it encourages committing sensitive values such as secret keys in the middle of your codebase:
{% endblock %}